@model Travel_Agency.Models.Leg

<div class="row">
    <div class="col-md-4">
        <img height="200" width="150" src="@ViewBag.StartLocation" />
    </div>
    <div class="col-md-8">
        <h3>Starting in @Model.StartLocation</h3>
        <p>Date : @Model.StartDate.ToShortDateString()</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <img height="200" width="150" src="@ViewBag.EndLocation">
    </div>
    <div class="col-md-8">
        <h3>Finishing in @Model.FinishLocation</h3>
        <p>Date : @Model.FinishDate.ToShortDateString()</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p></p>
    </div>
    <div class="col-md-8">
        <h4>Guests Travelling:</h4>
        <h5 id="gp"></h5>
    </div>
</div>

<script>
    $( document ).ready(function() {

        var array = @Html.Raw(Json.Encode(ViewBag.Guests));
        for(var i = 0; i < array.length; i++) {
            document.getElementById('gp').innerHTML += (array[i] + "; ");            
        }

    });

</script>