@model Travel_Agency.Models.Leg

<tr id="@Model.ID">
    <td>
        @Html.DisplayFor(modelItem => Model.StartLocation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.FinishLocation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.StartDate, "ShortDateTime")
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.FinishDate, "ShortDateTime")
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Guests.Count)
    </td>
    <td>
        <button class="btn btn-success btn-xs" onclick="AddGuests(@Model.ID)">Add Guests</button> 
        <br /> 
        <button class="btn btn-info btn-xs" onclick="GetLegDetails(@Model.ID)">View Details</button>        
    </td>
</tr>


<script>

    function GetLegDetails(id){
        $("#loader1").css('display', 'block');
        $.ajax({
            url: '@Url.Action("GetDetails", "Legs")',
            data: { legid: id },
            success: function (data) {
                $("#legDetail").html(data);
                $("#detailModal").modal('show');
                $("#loader1").css('display', 'none');
            }
        });
    }

    function AddGuests(id) {
        $("#loader1").css('display', 'block');
        $.ajax({
            url: '@Url.Action("AddGuest", "Guest")',
            data: { id: id },
            success: function (data) {
                $("#loader1").css('display', 'none');
                $("#guestModal").html(data);
                $('#gModal').modal('show');
            }
        });

    }
    

    

    @*$("#btnAddGuest").click(function () {
        
        var newGuest = {
            Name: $("#guestList").val(),
            Leg: '@Model.ID'
        };
        alert(newGuest.Leg);
        SendGuest(newGuest);
    });

    function SendGuest(newGuest) {
        alert("got in")
        $.ajax({
            url: "api/Guest/Post",
            data: JSON.stringify(newGuest),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                window.location.href = ("/Home/Index");
            },
            error: function (error) {
            }
        });

    }*@
</script>
   

