@model IEnumerable<Travel_Agency.Models.Trip>

@{
    ViewBag.Title = " Available Trips";
}

@section scripts
{
    <script>
    function getLegs(TripId) {

        $.ajax({
            url: '@Url.Action("GetLegs", "Legs")',
            data: { id: TripId },
            success: function (data) {
                $("#legsTbl").html(data);
            }
        })
    }
    </script>
}


<p>
    @Html.ActionLink("Create New Trip", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            Start Date
            @*@Html.DisplayNameFor(model => model.StartDate)*@
        </th>
        <th>
            Finish Date
            @*@Html.DisplayNameFor(model => model.FinishDate)*@
        </th>
        <th>
            Minimum Guests
            @*@Html.DisplayNameFor(model => model.MinGuests)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="getLegs(@item.ID)">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate, "ShortDateTime")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishDate, "ShortDateTime")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinGuests)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<div id="legsTbl">

</div>

