@model PagedList.IPagedList<s00009509.Order>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Orders";
}

<p>
    @Html.ActionLink("View All Orders", "Index")
</p>

@* empty div for the partial view Modal to be placed in*@
<div id="deleteContainer"></div>

<div id="data" class="row">

    <div id="loader1" class="text-center" style="display: none;">
        Loading...<img src="~/Content/Images/ajax-loader.gif" />
    </div>

    <div id="OrderList" class="col-md-12">
        <table class="table table-bordered table-responsive table-striped table-hover">
            <tr>
                <th>Order ID
                </th>
                <th>
                    Customer ID
                </th>
                <th>
                    Shipping Details
                </th>
                <th>
                    Contact Name
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr id="@item.EmployeeID" onclick="getEmpDetails(@item.EmployeeID)" style="cursor:pointer">
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerID)
                    </td>
                    <td id="tcell" class="cell" title="@String.Format("Order Date: {0}, Required Date {1},  Shipped Date: {2}, Via: {3}, Name: {4}, Address: {5}, City: {6}, Region: {7}, Country: {8}, Postal Code: {9}",
                            item.OrderDate, item.RequiredDate, item.ShippedDate, item.Shipper.CompanyName, item.ShipName, item.ShipAddress, item.ShipCity, item.ShipRegion,
                            item.ShipCountry, item.ShipPostalCode)">
                        @{Html.RenderPartial("_ShippDetails", item);}
                    </td>

                    <td style="width: 150px">
                        @Html.DisplayFor(modelItem => item.Customer.ContactName)
                    </td>
                    <td class="form-inline" role="form">
                        <button id="editOrder" onclick="editO(@item.OrderID)" class="btn btn-info btn-xs">Edit</button> |
                        <button id="deleteOrder" onclick="deleteO(@item.OrderID)" class="btn btn-primary btn-warning btn-xs">Delete</button>
                    </td>
                </tr>
            }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

    </div>


    <div class="col-md-3" id="empDetails">
        <div id="loader2" class="text-center" style="display: none;">
            Loading...<img src="~/Content/Images/ajax-loader.gif" />
        </div>
    </div>

</div>

@section scripts {

    <script>

        //Tooltip for full shipping details
        $(function () {
            $(document).tooltip();
        });

        //function to  get employee details pass id and display in box
        function getEmpDetails(id) {

            //switch class of table with jqueryUI
            $("#OrderList").switchClass("col-md-12", "col-md-9", 1000, "easeInOutQuad");
            //$("#tcell").switchClass("cell", "cell2", 1000, "easeInOutQuad");

            $("#loader2").css("display", "block");

            $.ajax({
                url: '@Url.Action("index", "Home")',
                data: { empId: id },
                type: 'GET',
                success: function (result) {
                    //alert('Success');                
                    $("#empDetails").html(result);
                },

                error: function (error) {
                    //alert('Fail');
                }
            });
        }

        //function to delete order
        function deleteO(ordid) {

            //the next line will stop the table row click event
            event.stopPropagation();

            $.ajax({
                url: '@Url.Action("Delete", "Home")',
                data: { orderid: ordid },
                type: 'GET',
                success: function (result) {
                    $("#deleteContainer").html(result);
                    //display the modal
                    $('#myModal').modal('show');
                }
            });
        }

        
        //function to edit order
        function editO(ordid) {

            //the next line will stop the table row click event
            event.stopPropagation();
            var href = "/Home/Edit/" + ordid;

            $.ajax({
                url: '@Url.Action("Edit", "Home")',
                data: { id: ordid },
                type: 'GET',
                success: function (result) {
                    //use result of partial view and navigate
                    document.location = href;

                }
            });
        }

    </script>
}